flask
gunicorn
flask-cors

pypdf
sentence-transformers
python-dotenv

# ---- LlamaIndex (CONSISTENT GENERATION) ----
llama-index-core==0.12.24.post1
llama-index==0.12.24
llama-index-readers-file==0.2.0
llama-index-llms-google-genai==0.2.0
llama-index-embeddings-google==0.2.0
